body{position:relative;background-color: #c0d5ea;}
.overlay,.sideMenu{position:fixed;bottom:0}
.overlay{top:0;left:-100%;right:100%;margin:auto;background-color: #c0d5ea;z-index:998;transition:all ease 0.2s}
.overlay.open{left:0;right:0}
.sidebarNavigation{margin-bottom:0;z-index:999;justify-content:flex-start}
.sidebarNavigation .leftNavbarToggler{margin-right:10px;order:-1}
.sideMenu{left:-100%;top:52px;transition:all ease 0.5s;overflow:hidden;width:100%;z-index:999;max-width:80%;margin-bottom:0;padding:1rem}
.sideMenu.open{left:0;display:block;overflow-y:auto}
.sideMenu ul{margin:0;padding:0 15px}

#logo { position: relative
    ;}

    
    .carousel-caption {
        top: 33%;
    }
    .carousel-item {
        position: relative;
    }
    .carousel-item img {
        z-index: 2;
    }
    .btn {
        padding: 14px 26px;
        font-weight: 700;
        font-size: 13px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    .btn-danger {
        background-color: #e34c43;
        border-color: #e34c43;
    }
    .background-overlay {
        position: absolute;
        z-index: 3;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);
    }
    .carousel-control-next, .carousel-control-prev{
    z-index: 4;	
    }
    @media(max-width:1180px) {
      .carousel-caption h5 {
        font-size: 2.5rem !important;
        margin-bottom:15px !important;
      }
      .carousel-caption p {
        font-size: 1.5rem !important;
        margin-bottom:20px !important;
      }
      .carousel-caption {
        top:25%;
        }
    }
    @media(max-width:980px) {
        .carousel-caption {
        top: 20%;
        }
      .carousel-caption h5 {
        font-size: 1.5rem !important;
      }
       .carousel-caption p {
        font-size: 1rem !important;
      }
      .carousel-caption .btn {
        display:none;
      }
    }
    .row-content {
        margin:0px auto;
        padding: 50px 0px 50px 0px;
        border-bottom: 1px ridge;
        min-height:400px;
        }
        .footer{
            background-color: #c0d5ea;
            margin:0px auto;
            padding: 20px 0px 20px 0px;
            }

            body {padding-top:20px;}

            .social-nav {
                display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
            }
            .social-nav li {
                float: left;
                margin: 10px 0 0 10px;
                list-style: none;
            }
            .social-nav a {
                display: inline-block;
                width: 48px;
                height: 48px;
                font-size: 20px;
                color: #fff;
                text-decoration: none;
                cursor: pointer;
                text-align: center;
                line-height: 48px;
                background: #000;
                position: relative;
                transition: all 0.5s;
                -ms-transition: all 0.5s;
                -webkit-transition: all 0.5s;
                -moz-transition: all 0.5s;
            }
            .social-nav a {
                overflow: hidden;
                font-size: 26px;
                border-radius: 4px;
            }
            .social-nav a:hover {
                background: #fff;
                text-shadow: 0px 0px #d4d4d4, 1px 1px #d4d4d4, 2px 2px #d4d4d4, 3px 3px #d4d4d4, 4px 4px #d4d4d4, 5px 5px #d4d4d4, 6px 6px #d4d4d4, 7px 7px #d4d4d4, 8px 8px #d4d4d4, 9px 9px #d4d4d4, 10px 10px #d4d4d4, 11px 11px #d4d4d4, 12px 12px #d4d4d4, 13px 13px #d4d4d4, 14px 14px #d4d4d4, 15px 15px #d4d4d4, 16px 16px #d4d4d4, 17px 17px #d4d4d4, 18px 18px #d4d4d4, 19px 19px #d4d4d4, 20px 20px #d4d4d4, 21px 21px #d4d4d4, 22px 22px #d4d4d4, 23px 23px #d4d4d4, 24px 24px #d4d4d4, 25px 25px #d4d4d4, 26px 26px #d4d4d4, 27px 27px #d4d4d4, 28px 28px #d4d4d4, 29px 29px #d4d4d4, 30px 30px #d4d4d4;
            }
            .social-nav .twitter {
                background: #00ACED;
                text-shadow: 0px 0px #0087ba, 1px 1px #0087ba, 2px 2px #0087ba, 3px 3px #0087ba, 4px 4px #0087ba, 5px 5px #0087ba, 6px 6px #0087ba, 7px 7px #0087ba, 8px 8px #0087ba, 9px 9px #0087ba, 10px 10px #0087ba, 11px 11px #0087ba, 12px 12px #0087ba, 13px 13px #0087ba, 14px 14px #0087ba, 15px 15px #0087ba, 16px 16px #0087ba, 17px 17px #0087ba, 18px 18px #0087ba, 19px 19px #0087ba, 20px 20px #0087ba, 21px 21px #0087ba, 22px 22px #0087ba, 23px 23px #0087ba, 24px 24px #0087ba, 25px 25px #0087ba, 26px 26px #0087ba, 27px 27px #0087ba, 28px 28px #0087ba, 29px 29px #0087ba, 30px 30px #0087ba;
            }
            .social-nav .twitter:hover {
                color: #00ACED;
            }
            .social-nav .facebook {
                background: #3B579D;
                text-shadow: 0px 0px #2d4278, 1px 1px #2d4278, 2px 2px #2d4278, 3px 3px #2d4278, 4px 4px #2d4278, 5px 5px #2d4278, 6px 6px #2d4278, 7px 7px #2d4278, 8px 8px #2d4278, 9px 9px #2d4278, 10px 10px #2d4278, 11px 11px #2d4278, 12px 12px #2d4278, 13px 13px #2d4278, 14px 14px #2d4278, 15px 15px #2d4278, 16px 16px #2d4278, 17px 17px #2d4278, 18px 18px #2d4278, 19px 19px #2d4278, 20px 20px #2d4278, 21px 21px #2d4278, 22px 22px #2d4278, 23px 23px #2d4278, 24px 24px #2d4278, 25px 25px #2d4278, 26px 26px #2d4278, 27px 27px #2d4278, 28px 28px #2d4278, 29px 29px #2d4278, 30px 30px #2d4278;
            }
            .social-nav .facebook:hover {
                color: #3B579D;
            }
            .social-nav .google {
                background: #DD4A3A;
                text-shadow: 0px 0px #c23122, 1px 1px #c23122, 2px 2px #c23122, 3px 3px #c23122, 4px 4px #c23122, 5px 5px #c23122, 6px 6px #c23122, 7px 7px #c23122, 8px 8px #c23122, 9px 9px #c23122, 10px 10px #c23122, 11px 11px #c23122, 12px 12px #c23122, 13px 13px #c23122, 14px 14px #c23122, 15px 15px #c23122, 16px 16px #c23122, 17px 17px #c23122, 18px 18px #c23122, 19px 19px #c23122, 20px 20px #c23122, 21px 21px #c23122, 22px 22px #c23122, 23px 23px #c23122, 24px 24px #c23122, 25px 25px #c23122, 26px 26px #c23122, 27px 27px #c23122, 28px 28px #c23122, 29px 29px #c23122, 30px 30px #c23122;
            }
            .social-nav .google:hover {
                color: #DD4A3A;
            }
            .social-nav .linkedin {
                background: #007BB6;
                text-shadow: 0px 0px #005983, 1px 1px #005983, 2px 2px #005983, 3px 3px #005983, 4px 4px #005983, 5px 5px #005983, 6px 6px #005983, 7px 7px #005983, 8px 8px #005983, 9px 9px #005983, 10px 10px #005983, 11px 11px #005983, 12px 12px #005983, 13px 13px #005983, 14px 14px #005983, 15px 15px #005983, 16px 16px #005983, 17px 17px #005983, 18px 18px #005983, 19px 19px #005983, 20px 20px #005983, 21px 21px #005983, 22px 22px #005983, 23px 23px #005983, 24px 24px #005983, 25px 25px #005983, 26px 26px #005983, 27px 27px #005983, 28px 28px #005983, 29px 29px #005983, 30px 30px #005983;
            }
            .social-nav .linkedin:hover {
                color: #007BB6;
            }
            .social-nav .pinterest {
                background: #CB2026;
                text-shadow: 0px 0px #9f191e, 1px 1px #9f191e, 2px 2px #9f191e, 3px 3px #9f191e, 4px 4px #9f191e, 5px 5px #9f191e, 6px 6px #9f191e, 7px 7px #9f191e, 8px 8px #9f191e, 9px 9px #9f191e, 10px 10px #9f191e, 11px 11px #9f191e, 12px 12px #9f191e, 13px 13px #9f191e, 14px 14px #9f191e, 15px 15px #9f191e, 16px 16px #9f191e, 17px 17px #9f191e, 18px 18px #9f191e, 19px 19px #9f191e, 20px 20px #9f191e, 21px 21px #9f191e, 22px 22px #9f191e, 23px 23px #9f191e, 24px 24px #9f191e, 25px 25px #9f191e, 26px 26px #9f191e, 27px 27px #9f191e, 28px 28px #9f191e, 29px 29px #9f191e, 30px 30px #9f191e;
            }
            .social-nav .pinterest:hover {
                color: #CB2026;
            }
            .newsletter {
                padding: 40px 0;
                background: #c0d5ea;
                }
                
                .newsletter .content {
                max-width: 650px;
                margin: 0 auto;
                text-align: center;
                position: relative;
                z-index: 2; }
                .newsletter .content h2 {
                color: #243c4f;
                margin-bottom: 40px; }
                .newsletter .content .form-control {
                height: 50px;
                border-color: #ffffff;
                border-radius:0;
                }
                .newsletter .content.form-control:focus {
                box-shadow: none;
                border: 2px solid #243c4f;
                }
                .newsletter .content .btn {
                min-height: 50px; 
                border-radius:0;
                background: #243c4f;
                color: #fff;
                font-weight:600;
                }
               
                  
                .product-grid{font-family:Raleway,sans-serif;text-align:center;padding:0 0 72px;border:1px solid rgba(0,0,0,.1);overflow:hidden;position:relative;z-index:1}
                .product-grid .product-image{position:relative;transition:all .3s ease 0s}
                .product-grid .product-image a{display:block}
                .product-grid .product-image img{width:100%;height:auto}
                .product-grid .pic-1{opacity:1;transition:all .3s ease-out 0s}
                .product-grid:hover .pic-1{opacity:1}
                .product-grid .pic-2{opacity:0;position:absolute;top:0;left:0;transition:all .3s ease-out 0s}
                .product-grid:hover .pic-2{opacity:1}
                .product-grid .social{width:150px;padding:0;margin:0;list-style:none;opacity:0;transform:translateY(-50%) translateX(-50%);position:absolute;top:60%;left:50%;z-index:1;transition:all .3s ease 0s}
                .product-grid:hover .social{opacity:1;top:50%}
                .product-grid .social li{display:inline-block}
                .product-grid .social li a{color:#fff;background-color:#333;font-size:16px;line-height:40px;text-align:center;height:40px;width:40px;margin:0 2px;display:block;position:relative;transition:all .3s ease-in-out}
                .product-grid .social li a:hover{color:#fff;background-color:#ef5777}
                .product-grid .social li a:after,.product-grid .social li a:before{content:attr(data-tip);color:#fff;background-color:#000;font-size:12px;letter-spacing:1px;line-height:20px;padding:1px 5px;white-space:nowrap;opacity:0;transform:translateX(-50%);position:absolute;left:50%;top:-30px}
                .product-grid .social li a:after{content:'';height:15px;width:15px;border-radius:0;transform:translateX(-50%) rotate(45deg);top:-20px;z-index:-1}
                .product-grid .social li a:hover:after,.product-grid .social li a:hover:before{opacity:1}
                .product-grid .product-discount-label,.product-grid .product-new-label{color:#fff;background-color:#ef5777;font-size:12px;text-transform:uppercase;padding:2px 7px;display:block;position:absolute;top:10px;left:0}
                .product-grid .product-discount-label{background-color:#333;left:auto;right:0}
                .product-grid .rating{color:#FFD200;font-size:12px;padding:12px 0 0;margin:0;list-style:none;position:relative;z-index:-1}
                .product-grid .rating li.disable{color:rgba(0,0,0,.2)}
                .product-grid .product-content{background-color:#fff;text-align:center;padding:12px 0;margin:0 auto;position:absolute;left:0;right:0;bottom:-27px;z-index:1;transition:all .3s}
                .product-grid:hover .product-content{bottom:0}
                .product-grid .title{font-size:13px;font-weight:400;letter-spacing:.5px;text-transform:capitalize;margin:0 0 10px;transition:all .3s ease 0s}
                .product-grid .title a{color:#828282}
                .product-grid .title a:hover,.product-grid:hover .title a{color:#ef5777}
                .product-grid .price{color:#333;font-size:17px;font-family:Montserrat,sans-serif;font-weight:700;letter-spacing:.6px;margin-bottom:8px;text-align:center;transition:all .3s}
                .product-grid .price span{color:#999;font-size:13px;font-weight:400;text-decoration:line-through;margin-left:3px;display:inline-block}
                .product-grid .add-to-cart{color:rgb(110, 177, 236);font-size:13px;font-weight:600}
               
                @media only screen and (max-width:990px){.product-grid{margin-bottom:30px}

                .footer .cyc-sectionheader {
                    border-bottom: 1px solid #9b9b9b;
                }
            }
            .bikester .cyc-sectionheader--big {
                border-bottom: 3px solid rgba(0,0,0,.8);
                text-align: left;
                text-transform: uppercase;
            }
            .cyc-sectionheader--big {
                font-family: extra,base,Arial,Helvetica,sans-serif;
                font-size: 25px;
                line-height: 1.4;
                font-weight: 400;
            }
            .cyc-padding_bottom-2, .cyc-padding_topbottom-2 {
                padding-bottom: 10px !important;
            }
           
            .cyc-brandslist {
               
                display: flex;
              
                flex-direction: row;
                
                flex-wrap: nowrap;
                width: 100%;
                text-align: center;
               
                justify-content: space-around;
            }
            .cyc-brandslist, .is-singleline, .no-wrap {
                white-space: nowrap;
            }
            .cyc-padding_bottom-2, .cyc-padding_topbottom-2 {
                padding-bottom: 10px !important;
            }
            button, html * {
                box-sizing: border-box;
            }
            .cyclist, html * {
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
            

            #contatti{
                background-color: #c0d5eae;
                letter-spacing: 2px;
                }
              #contatti a{
                color: #fff;
                text-decoration: none;
              }
              
              
              @media (max-width: 575.98px) {
              
                #contatti{padding-bottom: 800px;}
                #contatti .maps iframe{
                  width: 100%;
                  height: 450px;
                }
               }
              
              
              @media (min-width: 576px) {
              
                 #contatti{padding-bottom: 800px;}
              
                 #contatti .maps iframe{
                   width: 100%;
                   height: 450px;
                 }
               }
              
              @media (min-width: 768px) {
              
                #contatti{padding-bottom: 350px;}
              
                #contatti .maps iframe{
                  width: 100%;
                  height: 850px;
                }
              }
              
              @media (min-width: 992px) {
                #contatti{padding-bottom: 200px;}
              
                 #contatti .maps iframe{
                   width: 100%;
                   height: 700px;
                 }
              }
              
              
              #author a{
                color: #fff;
                text-decoration: none;
                  
              }